<nav class="desktop">
  <ul>
    <li><a href="/gumwork/en/architecture">Architecture</a></li>
    <li><a href="/gumwork/en/film">Film</a></li>
    <li><a href="/gumwork/en/prototype">Prototype</a></li>
    <li><a href="/gumwork/en/graphic">Graphic</a></li>
    <li><a href="/gumwork/en/product">Product</a></li>
    <li><a href="/gumwork/en/journal">Journal</a></li>
    <li><a href="/gumwork/en/about">About</a></li>
    <li><a href="/gumwork/en/contact">Contact</a></li>
  </ul>
</nav>

<nav class="mobile">
</nav>
